
@{
    ViewBag.Title = "SpeciesGroupView";
}

<h2>Fish Species Groups</h2>


<div>
    <table id="grid"></table>
    <div id="pager"></div>
</div>
<script src="~/Scripts/Fish/fishSpeciesGroupGrid.js"> </script>