
@{
    ViewBag.Title = "Fish Surveys View";
}

<h2>Fish Surveys</h2>


<div>
    <table id="masterGrid"></table>
    <div id="pager"></div>    
</div>
<p></p>
<div>
    <table id="locationGrid"></table>
    <div id="pagerL"></div>
</div>
<p></p>
<div>
    <table id="detailGrid"></table>
    <div id="pagerD"></div>
</div>
<script src="~/Scripts/Fish/fishSurveysGrid.js"> </script>