
@{
    ViewBag.Title = "ImportExcel";
}

<h2>Import Survey Information</h2>


@using (Html.BeginForm("ImportExcel", "Birds", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    <table>
        <tr>
            <td>File:</td>
            <td>
                <input type="file" name="UploadedFile" />
            </td>
        </tr>
        <tr>
            <td colspan="2">
                <input type="submit" name="Submit" value="Submit" />
            </td>
        </tr>
    </table>
}
