
@{
    ViewBag.Title = "SpeciesView";
}

<h2>Phytoplankton Species</h2>


<div>
    <table id="grid"></table>
    <div id="pager"></div>
</div>
<script src="~/Scripts/Phyto/phytoSpeciesGrid.js"> </script>