
@{
    ViewBag.Title = "Phytoplankton Surveys View";
}

<h2>Phytoplankton Surveys</h2>


<div>
    <table id="masterGrid"></table>
    <div id="pager"></div>    
</div>
<p></p>
<div>
    <table id="detailGrid"></table>
    <div id="pagerD"></div>
</div>
<script src="~/Scripts/Phyto/phytoSurveysGrid.js"> </script>