@{
    ViewBag.Title = "Lake Profiles View";
}

<h2>Lake Profiles</h2>

    
<div>
    <table id="masterGrid"></table>
    <div id="pager"></div>
</div>
<p></p>
<div>
    <table id="detailGrid"></table>
    <div id="pagerD"></div>
</div>

<script src="~/Scripts/Lake/lakeProfilesGrid.js"> </script>