@{
    ViewBag.Title = "Home Page";
}
<p></p>

<div class="container">
    <div class="row">
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="120" height="120">
            <h2>Birds</h2>
            <p><a class="btn btn-default" href="~/Birds/Surveys" role="button">View Surveys &raquo;</a></p>
        </div>
        <div class="col-lg-4">
            <img class="img-circle" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="120" height="120">
            <h2>Fish</h2>
            <p><a class="btn btn-default" href="#" role="button">View Surveys &raquo;</a></p>
        </div>
    </div>
</div>
   